@use '../utilities/responsive';

@mixin underline () {
    &:after {
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        background-color: var(--color-accent);
        margin-bottom: 0;

        //640px (40rem)
        @include responsive.max(40rem) {
            height: 0px;
        }  
    }
}
