@use "../components/buttons" as button;
@use '../utilities/responsive';

::placeholder {
    color: var(--color-dark-300);
}

input, button {

    &[type="text"],
    &[type="number"],
    &[type="datetime-local"],
    &[type="email"],
    &[type="tel"] {
        border: 1px solid transparent;
        background-color: var(--color-accent);
        padding: 0.5rem 1rem;
        font-size: var(--font-size-2);
        font-family: var(--font-sans);
        max-width: 100%;
        width: 100%;

        &:focus {
            outline: 0;
            border-color: var(--color-dark-700);
        }
    }

    &[type="datetime-local"] {
        color: var(--color-dark-900);
        &:focus {
            color: var(--color-dark-500);
        }
    }

    &[type="submit"] {
        @include button.default;
        margin-top: var(--gap-l);

        @include responsive.max(40rem) {
            margin-top: var(--gap-s);
        }
    }

}

textarea {
    border: 1px solid transparent;
    background-color: var(--color-accent);
    padding: 0.5rem 1rem;
    font-size: var(--font-size-2);
    font-family: var(--font-sans);
    max-width: 100%;
    width: 100%;

    &:focus {
        outline: 0;
        border-color: var(--color-dark-500);
    }
}