@use '../utilities/responsive';

.site-header {
    position: absolute;
    z-index: 999;

    max-height: 160px; 

    width: 100%;
    left: 0;
    top: 0;
    display: grid;
    align-items: center;
    grid-template-columns: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, 85rem) [inner-end] minmax(32px, 1fr) [full-end];

    &__inner {
        grid-column: inner;

        // 1504px (94rem)
        @include responsive.max(94rem) {
            padding-left: var(--gap-m);
        }

        @include responsive.max(30rem) {
            padding-left: 0;
        }

    }

    &__content {
        display: flex;
        align-items: center;
        gap: var(--gap-m);
    }

    &__logo-image {
        max-height: 10vh;

    @include responsive.max(30rem) {
        max-height: 6vh;
    }
    }

    &__logo-text {
        
    }
}